<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
    <connectionStrings>
        <add name="WeightBridgeMandya.Properties.Settings.DDISMandyaDairy_MIS_LiquidConnectionString" connectionString="Data Source=GSSPL-02\SQLEXPRESS;Initial Catalog=DDISMandyaDairy_MIS_Liquid;Persist Security Info=True;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--MIS Server-->
    <add key="DBConnstring" value="RGF0YSBTb3VyY2U9TUlTU0VSVkVSMTtJbml0aWFsIENhdGFsb2c9RERJU01hbmR5YURhaXJ5X01JU19MaXF1aWQ7UGVyc2lzdCBTZWN1cml0eSBJbmZvPVRydWU7VXNlciBJRD1zYTtQYXNzd29yZD1zYUAxMjM=" />


	  <!--GSSPL-02-->
    <!--<add key="DBConnstring" value="RGF0YSBTb3VyY2U9REVTS1RPUC1MQVNUQlI3O0luaXRpYWwgQ2F0YWxvZz1ERElTTWFuZHlhRGFpcnlfTUlTX0xpcXVpZDtQZXJzaXN0IFNlY3VyaXR5IEluZm89VHJ1ZTtVc2VyIElEPXNhO1Bhc3N3b3JkPXNhQDEyMw==" />-->


	  <!--Ravindra Laptop-->
	  <!--<add key="DBConnstring" value="RGF0YSBTb3VyY2U9REVTS1RPUC1RREtFTzhSO0luaXRpYWwgQ2F0YWxvZz1ERElTTWFuZHlhRGFpcnlfTUlTX0xpcXVpZDtQZXJzaXN0IFNlY3VyaXR5IEluZm89VHJ1ZTtVc2VyIElEPXNhO1Bhc3N3b3JkPXNhQDEyMw==" />-->
	  
	  <add key="Port" value="Com6~2400" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <appender name="AdoNetAppender" type="log4net   .Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--MIS Server-->
      <connectionString value="Data Source=MISSERVER1;Initial Catalog=DDISMandyaDairy_MIS_Liquid;Persist Security Info=True;User ID=sa;Password=sa@123" />
      
      <!--GSSPL-02-->
      <!--<connectionString value="Data Source=DESKTOP-LASTBR7;Initial Catalog=DDISMandyaDairy_MIS_Liquid;Persist Security Info=True;User ID=sa;Password=sa@123" />-->
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>